body {
  font-family: Roboto, Arial;
  color: rgb(33, 33, 33);
  /* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
  margin: 0;
}

/* Remove the default margins of <p> elements. */
p {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
