.tabBar {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 10px 15px;
  border-bottom: 2px solid #6D5757;
}

.tabBarButton {
  font-size: 23px;
  background: rgb(255, 255, 255); /* background color */
  color: rgb(0, 0, 0); /* text color */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.2s ease; /* smooth highlight change */
}

/* Only what changes when active */
.activeTab {
  color:#4A6D56;
  font-weight: bold;
}