.discoveryPage {
  background-color: w#ffffff;
  min-height: 100vh;

  width: 100%;          /* ensure full width */
  overflow-x: hidden;   /* prevent sideways scroll */
}

.header {
  padding: 20px;
  background: #ffffff;
 /* border-bottom: 2px solid #000;*/
}



/* phones */
@media (max-width: 600px) {

}



/* tablets */
@media (max-width: 768px) {
  
}


/* desktop */
@media (min-width: 1024px) {
  
}


