/*                          */
/* Dynamic Info Section start */
/*                          */
.dynamicInfo{
  border-bottom: 2px solid #6D5757; /* highlight */
  width: 100%;
  padding:10px;
  padding-left:15px;
}
/*                          */
/* Dynamic Info Section End */
/*                          */

